<!DOCTYPE html>
<html lang="en" ng-app="angularjsNodejsTutorial">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Country Cards</title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="javascripts/app.js" type="text/javascript"></script>
    <script src="javascripts/common.js" type="text/javascript"></script>
    <script src="javascripts/cards.js" type="text/javascript"></script>
    <link href="stylesheets/common.css" rel="stylesheet">
    <link href="stylesheets/cards.css" rel="stylesheet">
  </head>

  <body onload="populateNavBar(); resetControls(); showNoCardsMessage(false);">
    <nav id="nav"></nav>

    <div ng-controller="countriesController">
      <div ng-controller="indicatorsController">
        <div id="outerContainer">

          <div class="input-group mb-0">
            <div class="input-group-prepend">
              <label class="input-group-text" for="modeDropdown">Select mode:</label>
            </div>
            <select class="custom-select" id="modeDropdown" onchange="resetControls(); removeCards();">
              <option value="increase">Greatest increase over time range</option>
              <option value="yoy">Greatest year-over-year increase within time range</option>
              <option value="yoyPairs">Greatest year-over-year relative increase within time range</option>
            </select>
          </div>
    
          <div id="controlsContainer">

            <div id="primaryIndicatorControls" class="controls">
              <input id="primaryIndicatorSearchFilter" type="text" class="searchFilter form-control" oninput="filterPrimaryIndicatorBoxes();" placeholder="Filter indicators...">
              <input id="primaryIndicatorCheckedFilter" class="checkedFilter" type="checkbox" oninput="filterPrimaryIndicatorBoxes();"> Only show checked
  
              <div id="primaryIndicatorBoxes" class="boxes">
                <div ng-repeat="i in indicators">
                  <div class="box primaryIndicatorBox" callsign="{{i.name}}">
                    <input class="boxElement indicatorCheckbox primaryIndicatorRadioButton" type="radio" name="primaryIndicatorRadioButton" callsign="{{i.name}}" code="{{i.code}}" onchange="updateView();" />
                    <span class="boxElement">{{i.name}}</span>
                  </div>
                </div>
              </div>
            </div>

            <div id="secondaryIndicatorControls" class="controls" style="display:none;">
              <input id="secondaryIndicatorSearchFilter" type="text" class="searchFilter form-control" oninput="filterSecondaryIndicatorBoxes();" placeholder="Filter indicators...">
              <input id="secondaryIndicatorCheckedFilter" class="checkedFilter" type="checkbox" oninput="filterSecondaryIndicatorBoxes();"> Only show checked
  
              <div id="secondaryIndicatorBoxes" class="boxes">
                <div ng-repeat="i in indicators">
                  <div class="box secondaryIndicatorBox" callsign="{{i.name}}">
                    <input class="boxElement indicatorCheckbox secondaryIndicatorRadioButton" type="radio" name="secondaryIndicatorRadioButton" callsign="{{i.name}}" code="{{i.code}}" onchange="updateView();" />
                    <span class="boxElement">{{i.name}}</span>
                  </div>
                </div>
              </div>
            </div>
    
            <div id="tertiaryIndicatorControls" class="controls" style="display:none;">
              <input id="tertiaryIndicatorSearchFilter" type="text" class="searchFilter form-control" oninput="filterTertiaryIndicatorBoxes();" placeholder="Filter indicators...">
              <input id="tertiaryIndicatorCheckedFilter" class="checkedFilter" type="checkbox" oninput="filterTertiaryIndicatorBoxes();"> Only show checked
  
              <div id="tertiaryIndicatorBoxes" class="boxes">
                <div ng-repeat="i in indicators">
                  <div class="box tertiaryIndicatorBox" callsign="{{i.name}}">
                    <input class="boxElement indicatorCheckbox tertiaryIndicatorCheckbox" type="checkbox" callsign="{{i.name}}" code="{{i.code}}" onchange="updateView();" />
                    <span class="boxElement">{{i.name}}</span>
                  </div>
                </div>
              </div>
            </div>
              
            <div id="minYearControls" class="controls">
              <div>
                <input id="minYearSlider" type="range" orient="vertical" min="1960" max="2020" value="1960" oninput="updateSliderLabels();" onchange="updateView();">
                <span id="minYearLabel">1960</span>
              </div>
            </div>
    
            <div id="maxYearControls" class="controls">
              <div>
                <input id="maxYearSlider" type="range" orient="vertical" min="1960" max="2020" value="2020" oninput="updateSliderLabels();" onchange="updateView();">
                <span id="maxYearLabel">2020</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="hider" onclick="toggleShowControls();">&uarr;</div>

      <div id="noCardsContainer">
        <div id="noCardsMessage">
          <div class="outerCard">
            <div class="innerCard">
              <div class="cardText">
                No cards to display
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="cardsContainer">
        <!--Cards will be added here.-->
      </div>
    </div>

    <!-- Include these before the end of body tag in every HTML file -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>

</html>
