<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" ng-app="angularjsNodejsTutorial">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Country Graphs</title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="javascripts/app.js" type="text/javascript"></script>
    <script src="javascripts/common.js" type="text/javascript"></script>
    <script src="javascripts/graphs.js" type="text/javascript"></script>
    <link href="/stylesheets/common.css" rel="stylesheet">
    <link href="/stylesheets/graphs.css" rel="stylesheet">
  </head>

  <body onload="populateNavBar(); resetInputs();">
    <nav id="nav"></nav>

    <div ng-controller="countriesController">
      <div ng-controller="indicatorsController">
        <div id="controlsContainer">

          <div id="indicatorControls" class="controls">
            <input id="indicatorSearchFilter" type="text" class="searchFilter form-control" oninput="filterIndicatorBoxes();" placeholder="Filter indicators...">
            <input id="indicatorCheckedFilter" class="checkedFilter" type="checkbox" oninput="filterIndicatorBoxes();"> Only show checked

            <div id="indicatorBoxes" class="boxes" ng-model="indicatorSelected">
              <div ng-repeat="i in indicators">
                <div class="box indicatorBox" name="{{i.name}}">
                  <input class="boxElement indicatorCheckbox" type="checkbox" name="{{i.name}}" code="{{i.code}}" onchange="updateView();" />
                  <span class="boxElement">{{i.name}}</span>
                </div>
              </div>
            </div>
          </div>
          
          <div id="countryControls" class="controls">
            <input id="countrySearchFilter" type="text" class="searchFilter form-control" oninput="filterCountryBoxes();" placeholder="Filter countries...">
            <input id="countryCheckedFilter" class="checkedFilter" type="checkbox" oninput="filterCountryBoxes();"> Only show checked<br />
            <div id="countryCompletenessFilterBox">
              Filter by data completeness<span id="countryCompletenessFilterLabel">(0%)</span>:
              <input id="countryCompletenessFilter" type="range" min="0" max="100" value="0" oninput="filterCountryBoxes();">
            </div>

            <div id="countryBoxes" class="boxes" ng-model="countrySelected">
              <div ng-repeat="c in countries">
                <div class="box countryBox" name="{{c.name}}">
                  <input class="boxElement countryCheckbox" type="checkbox" name="{{c.name}}" onchange="updateView();" />
                  <span class="boxElement countryCompletenessBox">
                    <div>[</div>
                    <div class="countryCompleteness" name="{{c.name}}"></div>
                    <div>%]</div>
                  </span>
                  <span class="boxElement">{{c.name}}</span>
                </div>
              </div>
            </div>
          </div>
          
          <div id="minYearControls" class="controls">
            <div>
              <input id="minYearSlider" type="range" orient="vertical" min="1960" max="2020" value="1960" oninput="updateView();">
              <span id="minYearLabel">1960</span>
            </div>
          </div>

          <div id="maxYearControls" class="controls">
            <div>
              <input id="maxYearSlider" type="range" orient="vertical" min="1960" max="2020" value="2020" oninput="updateView();">
              <span id="maxYearLabel">2020</span>
            </div>
          </div>
        </div>
      </div>

      <div id="hider" onclick="toggleShowControls();">&uarr;</div>

      <div id="graphsContainer">
        <!--Graphs will be added here.-->
      </div>
    </div>

    <!-- Include these before the end of body tag in every HTML file -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>

</html>
