<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" ng-app="angularjsNodejsTutorial">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Country Graphs</title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="javascripts/app.js" type="text/javascript"></script>
    <script src="javascripts/common.js" type="text/javascript"></script>
    
    <link href="/stylesheets/common.css" rel="stylesheet">
    <link href="/stylesheets/cards.css" rel="stylesheet">
  </head>

  <body onload="populateNavBar();">
    <nav id="nav"></nav>

    <div ng-controller="countriesController">
      <div ng-controller="indicatorsController">
        <div ng-controller="yearsController">
          <select id="countryDropdown" class="dropdown" onchange="constructGraphs();" ng-model="countrySelected" data-ng-options="country as country.name for country in countries">
            <option value="">Select a country...</option>
          </select>

          <br />

          <select id="indicatorDropdown" class="dropdown" onchange="constructGraphs();" ng-model="indicatorSelected" data-ng-options="indicator as indicator.code for indicator in indicators">
            <option value="">Select an indicator...</option>
          </select>

          <br />

          <select id="minYearDropdown" class="dropdown" onchange="constructGraphs();" ng-model="minYearSelected" data-ng-options="year as year for year in years">
            <option value="">Select a start year...</option>
          </select>

          <br />

          <select id="maxYearDropdown" class="dropdown" onchange="constructGraphs();" ng-model="maxYearSelected" data-ng-options="year as year for year in years">
            <option value="">Select an end year...</option>
          </select>

          <br />
        </div>

        <div id="graphs"></div>
    </div>
    
    <script src="javascripts/graphs.js" type="text/javascript"></script>
    <!-- Include these before the end of body tag in every HTML file -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>

</html>
