h3 {
  text-align: center;
}

h4 {
  margin-top: 10px;
}

#outerContainer {
  background: white;
}

#primaryIndicatorControls {
  width: 50%;
}

#secondaryIndicatorControls {
  width: 50%;
}

#tertiaryIndicatorControls {
  width: 50%;
}

#cardsContainer {
  display: flex;
  flex-direction: row;
  flex: 0 1 100%;
  justify-content: center;
  flex-wrap: wrap;
}

#messageContainer {
  display: flex;
  flex-direction: row;
  flex: 0 1 100%;
  justify-content: center;
  flex-wrap: wrap;
}

#messageCard {
  width: 80%;
  height: 400px;
}

.outerCard {
  display: flex;
  flex-direction: column;
  flex: 0 0 300px;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.innerCard {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 90%;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  overflow: hidden;
}

.flag {
  max-width: 300px;
  max-height: 200px;
  margin-bottom: 10px;
}

.cardText {
  display: flex;
  flex-direction: column;
  color: white;
}

.percentageIncrease {
  color: rgb(0,255,10);
}

.percentageDecrease {
  color: rgb(255,10,0);
}
  
.yearRange {
  text-align: right;
}
  
.indicatorName {
  font-style: italic;
}