.outer-container {
  display: flex;
  flex-direction: row;
  flex: 0 0 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.inner-container {
  display: flex;
  flex-direction: row;
  flex: 0 1 1200px;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}

.outer-box {
  display: flex;
  flex-direction: column;
  flex: 0 0 150px;
  height: 200px;
	align-items: center;
	justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 10px;
  border-radius: 5px;
}

.inner-box {
  display: flex;
  flex-direction: column;
	flex: 1 1 100%;
	align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px;
}

.dropdown {
  width: 100%;
  margin-bottom: 10px;
}