#indicatorControls {
  width: 70%;
}

#countryControls {
  width: 300px;
}

#countryCompletenessFilterBox {
  margin-left: 9px;
  margin-top: 10px;
}

#countryCompletenessFilterLabel {
  margin-left: 5px;
}

#indicatorBoxes {
  height: 173px;
}

.countryCompletenessBox {
  display: flex;
  flex-direction: row;
  flex: 0 0 40px;
  justify-content: space-between;
  color: lightgray;
}

.countryCompleteness {
  color: lightgray;
  font-style: italic;
}

#graphsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.graph {
  margin: 5px;
}